<div class="container">
  <div class="left-panel">
    <h2>Formula 1</h2>
    <app-season-input></app-season-input>


    @if (f1Service.selectedSeason) {
      <app-round-input></app-round-input>
    }
  </div>

  <div class="middle-panel">
    @if (f1Service.selectedRound != '' && f1Service.selectedSeason != '') {
      <app-podium></app-podium>

      <app-winners-table></app-winners-table>
    }

  </div>
  <div class="right-panel">

    <app-drivers-info></app-drivers-info>

  </div>
</div>
