@if ((f1Service.results$|async); as results) {
  @if (results.MRData) {
    <h2>Results: Season: {{ results.MRData.RaceTable.season }}
      Round: {{ results.MRData.RaceTable.round }}</h2>
    <div class="podium-container">

      @for (race of results.MRData.RaceTable.Races; track race.round) {
        @for (raceResults of race.Results; let i = $index; track raceResults.position) {
          @if (+raceResults.position < 4) {
            <div class="pos pos{{ raceResults.position }}">
              <h4>
                {{ raceResults.Driver.permanentNumber }}
                {{ raceResults.Driver.givenName }}
                {{ raceResults.Driver.familyName }}
              </h4>
            </div>
          }
        }
      }
    </div>

  }

}
